name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'version (example: 1.2.3)'
        required: true
        type: string

jobs:
  tests:
    uses: ./.github/workflows/all-os-tests.yml

  release:
    environment: npm
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    needs: tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create release branch
        run: git checkout -b release

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install bumpp
        run: pnpm install -g bumpp

      - name: Install dependencies
        run: pnpm install

      - name: Commit changes
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

      - name: Bump version
        run: bumpp ${{github.event.inputs.version}} -y -r --no-push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build packages, examples and comparisons
        run: pnpm build

      - name: Set NPM config for provenance and auth
        run: |
          pnpm config set provenance true
          pnpm config set //registry.npmjs.org/:_authToken ${{secrets.NPM_CI_TOKEN}}

      - name: Publish to NPM
        run: pnpm -r publish --access public --no-git-checks

      - name: push changes
        run: git push --follow-tags origin release --force

      - run: pnpx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Create PR from current branch into main
        uses: repo-sync/pull-request@v2
        with:
          source_branch: release
          destination_branch: main
          pr_title: 'Release [v${{github.event.inputs.version}}]'
          pr_body: This is an automated pull request generated by the release workflow.
          github_token: ${{ secrets.GITHUB_TOKEN }}
